<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.dms.database.strategy.mapper.StrategyMarkMapper">
  <resultMap id="BaseResultMap" type="com.zx.dms.database.strategy.model.StrategyMark">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mark_type" jdbcType="TINYINT" property="markType" />
    <result column="visit_mode" jdbcType="TINYINT" property="visitMode" />
    <result column="integrity" jdbcType="VARCHAR" property="integrity" />
    <result column="confidentiality" jdbcType="VARCHAR" property="confidentiality" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="doi" jdbcType="BIGINT" property="doi" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, mark_type, visit_mode, integrity, confidentiality, category, doi, gmt_create, 
    gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from strategy_mark
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from strategy_mark
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zx.dms.database.strategy.model.StrategyMark">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strategy_mark (name, mark_type, visit_mode, 
      integrity, confidentiality, category, 
      doi, gmt_create, gmt_modified
      )
    values (#{name,jdbcType=VARCHAR}, #{markType,jdbcType=TINYINT}, #{visitMode,jdbcType=TINYINT}, 
      #{integrity,jdbcType=VARCHAR}, #{confidentiality,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{doi,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertAll">
    insert into strategy_mark (name, mark_type, visit_mode, 
      integrity, confidentiality, category, 
      doi, gmt_create, gmt_modified)
    values 
    <foreach collection="records" item="record" separator=",">
      (#{record.name,jdbcType=VARCHAR}, #{record.markType,jdbcType=TINYINT}, #{record.visitMode,jdbcType=TINYINT}, 
      #{record.integrity,jdbcType=VARCHAR}, #{record.confidentiality,jdbcType=VARCHAR}, #{record.category,jdbcType=VARCHAR}, 
      #{record.doi,jdbcType=BIGINT}, #{record.gmtCreate,jdbcType=TIMESTAMP}, #{record.gmtModified,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.zx.dms.database.strategy.model.StrategyMark">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strategy_mark
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="markType != null">
        mark_type,
      </if>
      <if test="visitMode != null">
        visit_mode,
      </if>
      <if test="integrity != null">
        integrity,
      </if>
      <if test="confidentiality != null">
        confidentiality,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="doi != null">
        doi,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="markType != null">
        #{markType,jdbcType=TINYINT},
      </if>
      <if test="visitMode != null">
        #{visitMode,jdbcType=TINYINT},
      </if>
      <if test="integrity != null">
        #{integrity,jdbcType=VARCHAR},
      </if>
      <if test="confidentiality != null">
        #{confidentiality,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="doi != null">
        #{doi,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.dms.database.strategy.model.StrategyMark">
    update strategy_mark
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="markType != null">
        mark_type = #{markType,jdbcType=TINYINT},
      </if>
      <if test="visitMode != null">
        visit_mode = #{visitMode,jdbcType=TINYINT},
      </if>
      <if test="integrity != null">
        integrity = #{integrity,jdbcType=VARCHAR},
      </if>
      <if test="confidentiality != null">
        confidentiality = #{confidentiality,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="doi != null">
        doi = #{doi,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.dms.database.strategy.model.StrategyMark">
    update strategy_mark
    set name = #{name,jdbcType=VARCHAR},
      mark_type = #{markType,jdbcType=TINYINT},
      visit_mode = #{visitMode,jdbcType=TINYINT},
      integrity = #{integrity,jdbcType=VARCHAR},
      confidentiality = #{confidentiality,jdbcType=VARCHAR},
      category = #{category,jdbcType=VARCHAR},
      doi = #{doi,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getLength" resultType="java.lang.Long">
  	select count(0) from strategy_mark
  	<trim prefix="where">
  		<if test="search != null and '' neq search">
  			name like CONCAT('%', #{search,jdbcType=VARCHAR}, '%')
  		</if>
  	</trim>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from strategy_mark
  	<trim prefix="where">
  		<if test="search != null and '' neq search">
  			name like CONCAT('%', #{search,jdbcType=VARCHAR}, '%')
  		</if>
  	</trim>
  	order by gmt_create desc, id desc
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from strategy_mark where name = #{name,jdbcType=VARCHAR}
  </select>
</mapper>