<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.dms.database.strategy.mapper.StrategyCustomAppCommandMapper">
  <resultMap id="BaseResultMap" type="com.zx.dms.database.strategy.model.StrategyCustomAppCommand">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="strategy_custom_app_id" jdbcType="BIGINT" property="strategyCustomAppId" />
    <result column="match_direction" jdbcType="TINYINT" property="matchDirection" />
    <result column="exec_action" jdbcType="TINYINT" property="execAction" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, strategy_custom_app_id, match_direction, exec_action, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from strategy_custom_app_command
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from strategy_custom_app_command
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zx.dms.database.strategy.model.StrategyCustomAppCommand">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strategy_custom_app_command (strategy_custom_app_id, match_direction, 
      exec_action, gmt_create, gmt_modified
      )
    values (#{strategyCustomAppId,jdbcType=BIGINT}, #{matchDirection,jdbcType=TINYINT}, 
      #{execAction,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zx.dms.database.strategy.model.StrategyCustomAppCommand">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strategy_custom_app_command
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="strategyCustomAppId != null">
        strategy_custom_app_id,
      </if>
      <if test="matchDirection != null">
        match_direction,
      </if>
      <if test="execAction != null">
        exec_action,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="strategyCustomAppId != null">
        #{strategyCustomAppId,jdbcType=BIGINT},
      </if>
      <if test="matchDirection != null">
        #{matchDirection,jdbcType=TINYINT},
      </if>
      <if test="execAction != null">
        #{execAction,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.dms.database.strategy.model.StrategyCustomAppCommand">
    update strategy_custom_app_command
    <set>
      <if test="strategyCustomAppId != null">
        strategy_custom_app_id = #{strategyCustomAppId,jdbcType=BIGINT},
      </if>
      <if test="matchDirection != null">
        match_direction = #{matchDirection,jdbcType=TINYINT},
      </if>
      <if test="execAction != null">
        exec_action = #{execAction,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.dms.database.strategy.model.StrategyCustomAppCommand">
    update strategy_custom_app_command
    set strategy_custom_app_id = #{strategyCustomAppId,jdbcType=BIGINT},
      match_direction = #{matchDirection,jdbcType=TINYINT},
      exec_action = #{execAction,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteByStrategyCustomAppId" parameterType="java.lang.Long">
    delete from strategy_custom_app_command
    where strategy_custom_app_id = #{strategyCustomAppId,jdbcType=BIGINT}
  </delete>
  <select id="selectByStrategyCustomAppId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from strategy_custom_app_command
    where strategy_custom_app_id = #{strategyCustomAppId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from strategy_custom_app_command
  </select>
</mapper>