<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.dms.database.strategy.mapper.StrategyBrowseMapper">
  <resultMap id="BaseResultMap" type="com.zx.dms.database.strategy.model.StrategyBrowse">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="command" jdbcType="VARCHAR" property="command" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="exec_action" jdbcType="TINYINT" property="execAction" />
    <result column="mime_type" jdbcType="VARCHAR" property="mimeType" />
    <result column="uri_list_id" jdbcType="BIGINT" property="uriListId" />
    <result column="security_rank" jdbcType="TINYINT" property="securityRank" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, command, exec_action, params, mime_type, uri_list_id, security_rank, 
    gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from strategy_browse
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from strategy_browse
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zx.dms.database.strategy.model.StrategyBrowse">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strategy_browse (name, command, params, exec_action,
      mime_type, uri_list_id,
      security_rank, gmt_create, gmt_modified
      )
    values (#{name,jdbcType=VARCHAR}, #{command,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, #{execAction,jdbcType=TINYINT},
      #{mimeType,jdbcType=VARCHAR}, #{uriListId,jdbcType=BIGINT},
      #{securityRank,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zx.dms.database.strategy.model.StrategyBrowse">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into strategy_browse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="command != null">
        command,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="execAction != null">
        exec_action,
      </if>
      <if test="mimeType != null">
        mime_type,
      </if>
      <if test="uriListId != null">
        uri_list_id,
      </if>
      <if test="securityRank != null">
        security_rank,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="command != null">
        #{command,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="execAction != null">
        #{execAction,jdbcType=TINYINT},
      </if>
      <if test="mimeType != null">
        #{mimeType,jdbcType=VARCHAR},
      </if>
      <if test="uriListId != null">
        #{uriListId,jdbcType=BIGINT},
      </if>
      <if test="securityRank != null">
        #{securityRank,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.dms.database.strategy.model.StrategyBrowse">
    update strategy_browse
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="command != null">
        command = #{command,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="execAction != null">
        exec_action = #{execAction,jdbcType=TINYINT},
      </if>
      <if test="mimeType != null">
        mime_type = #{mimeType,jdbcType=VARCHAR},
      </if>
      <if test="uriListId != null">
        uri_list_id = #{uriListId,jdbcType=BIGINT},
      </if>
      <if test="securityRank != null">
        security_rank = #{securityRank,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.dms.database.strategy.model.StrategyBrowse">
    update strategy_browse
    set name = #{name,jdbcType=VARCHAR},
      command = #{command,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      exec_action = #{execAction,jdbcType=TINYINT},
      mime_type = #{mimeType,jdbcType=VARCHAR},
      uri_list_id = #{uriListId,jdbcType=BIGINT},
      security_rank = #{securityRank,jdbcType=TINYINT},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getLength" resultType="java.lang.Long">
  	select count(0) from strategy_browse
  	<trim prefix="where">
  		<if test="search != null and '' neq search">
  			name like CONCAT('%', #{search,jdbcType=VARCHAR}, '%')
  		</if>
  	</trim>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from strategy_browse
  	<trim prefix="where">
  		<if test="search != null and '' neq search">
  			name like CONCAT('%', #{search,jdbcType=VARCHAR}, '%')
  		</if>
  	</trim>
  	order by gmt_create desc, id desc
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from strategy_browse where name = #{name,jdbcType=VARCHAR}
  </select>
</mapper>