[Unit]
Description="jusondms"

[Service]
Type=forking
ExecStart=/juson_file/run.sh
ExecStop=/juson_file/stop.sh
Restart=always
PrivateTmp=false

[Install]
WantedBy=multi-user.target

