<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.dms.database.trans.mapper.TransDbMapper">
  <resultMap id="BaseResultMap" type="com.zx.dms.database.trans.model.TransDb">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="network_area_id" jdbcType="BIGINT" property="networkAreaId" />
    <result column="network_area_name" jdbcType="VARCHAR" property="networkAreaName" />
    <result column="db_type" jdbcType="VARCHAR" property="dbType" />
    <result column="db_ip" jdbcType="VARCHAR" property="dbIp" />
    <result column="db_port" jdbcType="INTEGER" property="dbPort" />
    <result column="db_name" jdbcType="VARCHAR" property="dbName" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, name, network_area_id, network_area_name, db_type, 
    db_ip, db_port, db_name, user_name, user_pwd, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trans_db
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from trans_db
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zx.dms.database.trans.model.TransDb">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trans_db (type, name, network_area_id, network_area_name, db_type, 
      db_ip, db_port, db_name, user_name, user_pwd, gmt_create, gmt_modified
      )
    values (#{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{networkAreaId,jdbcType=BIGINT}, 
      #{networkAreaName,jdbcType=VARCHAR}, #{dbType,jdbcType=VARCHAR}, #{dbIp,jdbcType=VARCHAR}, 
      #{dbPort,jdbcType=INTEGER}, #{dbName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zx.dms.database.trans.model.TransDb">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trans_db
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="networkAreaId != null">
        network_area_id,
      </if>
      <if test="networkAreaName != null">
        network_area_name,
      </if>
      <if test="dbType != null">
        db_type,
      </if>
      <if test="dbIp != null">
        db_ip,
      </if>
      <if test="dbPort != null">
        db_port,
      </if>
      <if test="dbName != null">
        db_name,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPwd != null">
        user_pwd,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="networkAreaId != null">
        #{networkAreaId,jdbcType=BIGINT},
      </if>
      <if test="networkAreaName != null">
        #{networkAreaName,jdbcType=VARCHAR},
      </if>
      <if test="dbType != null">
        #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="dbIp != null">
        #{dbIp,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null">
        #{dbPort,jdbcType=INTEGER},
      </if>
      <if test="dbName != null">
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.dms.database.trans.model.TransDb">
    update trans_db
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="networkAreaId != null">
        network_area_id = #{networkAreaId,jdbcType=BIGINT},
      </if>
      <if test="networkAreaName != null">
        network_area_name = #{networkAreaName,jdbcType=VARCHAR},
      </if>
      <if test="dbType != null">
        db_type = #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="dbIp != null">
        db_ip = #{dbIp,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null">
        db_port = #{dbPort,jdbcType=INTEGER},
      </if>
      <if test="dbName != null">
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.dms.database.trans.model.TransDb">
    update trans_db
    set type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      network_area_id = #{networkAreaId,jdbcType=BIGINT},
      network_area_name = #{networkAreaName,jdbcType=VARCHAR},
      db_type = #{dbType,jdbcType=VARCHAR},
      db_ip = #{dbIp,jdbcType=VARCHAR},
      db_port = #{dbPort,jdbcType=INTEGER},
      db_name = #{dbName,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getLength" resultType="java.lang.Long">
  	select count(0) from trans_db
  	<trim prefix="where" prefixOverrides="and|or">
  		<if test="search != null and '' neq search">
  			and name like CONCAT('%', #{search,jdbcType=VARCHAR}, '%')
  		</if>
  		<if test="type != null and '' neq type">
  			and type = #{type,jdbcType=VARCHAR}
  		</if>
  	</trim>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from trans_db
  	<trim prefix="where" prefixOverrides="and|or">
  		<if test="search != null and '' neq search">
  			and name like CONCAT('%', #{search,jdbcType=VARCHAR}, '%')
  		</if>
  		<if test="type != null and '' neq type">
  			and type = #{type,jdbcType=VARCHAR}
  		</if>
  	</trim>
  	order by gmt_create desc, id desc
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from trans_db where name = #{name,jdbcType=VARCHAR} and type = #{type,jdbcType=VARCHAR} 
  </select>
  <select id="selectByDbType" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from trans_db where db_type = #{dbType,jdbcType=VARCHAR} and type = #{type,jdbcType=VARCHAR} 
  </select>
  <select id="selectByChannelInfoId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from trans_db where id in (select transmit_db_id from trans_busi_db where channel_info_id = #{channelInfoId,jdbcType=BIGINT})
  </select>
</mapper>