<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.dms.database.system.mapper.UserLoginRecordMapper">
  <resultMap id="BaseResultMap" type="com.zx.dms.database.system.model.UserLoginRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gmt_logout" jdbcType="TIMESTAMP" property="gmtLogout" />
    <result column="str_date" jdbcType="VARCHAR" property="strDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, gmt_create, gmt_modified, gmt_logout, str_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_login_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_login_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zx.dms.database.system.model.UserLoginRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_login_record (name, gmt_create, gmt_modified, 
      gmt_logout, str_date)
    values (#{name,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{gmtLogout,jdbcType=TIMESTAMP}, #{strDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zx.dms.database.system.model.UserLoginRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_login_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="gmtLogout != null">
        gmt_logout,
      </if>
      <if test="strDate != null">
        str_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtLogout != null">
        #{gmtLogout,jdbcType=TIMESTAMP},
      </if>
      <if test="strDate != null">
        #{strDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.dms.database.system.model.UserLoginRecord">
    update user_login_record
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtLogout != null">
        gmt_logout = #{gmtLogout,jdbcType=TIMESTAMP},
      </if>
      <if test="strDate != null">
        str_date = #{strDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.dms.database.system.model.UserLoginRecord">
    update user_login_record
    set name = #{name,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gmt_logout = #{gmtLogout,jdbcType=TIMESTAMP},
      str_date = #{strDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByUserName" resultMap="BaseResultMap">
  	select * from user_login_record 
  	where name = #{name,jdbcType=VARCHAR} order by gmt_create desc limit 1
  </select>
</mapper>