<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.dms.database.device.mapper.ChannelHaVridsMapper">
  <resultMap id="BaseResultMap" type="com.zx.dms.database.device.model.ChannelHaVrids">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="channel_ha_id" jdbcType="BIGINT" property="channelHaId" />
    <result column="channel_info_id" jdbcType="BIGINT" property="channelInfoId" />
    <result column="vrid" jdbcType="INTEGER" property="vrid" />
    <result column="if_id" jdbcType="BIGINT" property="ifId" />
    <result column="if_name" jdbcType="VARCHAR" property="ifName" />
    <result column="vip" jdbcType="VARCHAR" property="vip" />
    <result column="work_area" jdbcType="VARCHAR" property="workArea" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, channel_ha_id, channel_info_id, vrid, if_id, if_name, 
    vip, work_area, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from channel_ha_vrids
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from channel_ha_vrids
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zx.dms.database.device.model.ChannelHaVrids">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into channel_ha_vrids (channel_ha_id, channel_info_id, 
      vrid, if_id, if_name, vip, 
      work_area, gmt_create, gmt_modified
      )
    values (#{channelHaId,jdbcType=BIGINT}, #{channelInfoId,jdbcType=BIGINT}, 
      #{vrid,jdbcType=INTEGER}, #{ifId,jdbcType=BIGINT}, #{ifName,jdbcType=VARCHAR}, #{vip,jdbcType=VARCHAR}, 
      #{workArea,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zx.dms.database.device.model.ChannelHaVrids">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into channel_ha_vrids
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelHaId != null">
        channel_ha_id,
      </if>
      <if test="channelInfoId != null">
        channel_info_id,
      </if>
      <if test="vrid != null">
        vrid,
      </if>
      <if test="ifId != null">
        if_id,
      </if>
      <if test="ifName != null">
        if_name,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="workArea != null">
        work_area,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelHaId != null">
        #{channelHaId,jdbcType=BIGINT},
      </if>
      <if test="channelInfoId != null">
        #{channelInfoId,jdbcType=BIGINT},
      </if>
      <if test="vrid != null">
        #{vrid,jdbcType=INTEGER},
      </if>
      <if test="ifId != null">
        #{ifId,jdbcType=BIGINT},
      </if>
      <if test="ifName != null">
        #{ifName,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        #{vip,jdbcType=VARCHAR},
      </if>
      <if test="workArea != null">
        #{workArea,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.dms.database.device.model.ChannelHaVrids">
    update channel_ha_vrids
    <set>
      <if test="channelHaId != null">
        channel_ha_id = #{channelHaId,jdbcType=BIGINT},
      </if>
      <if test="channelInfoId != null">
        channel_info_id = #{channelInfoId,jdbcType=BIGINT},
      </if>
      <if test="vrid != null">
        vrid = #{vrid,jdbcType=INTEGER},
      </if>
      <if test="ifId != null">
        if_id = #{ifId,jdbcType=BIGINT},
      </if>
      <if test="ifName != null">
        if_name = #{ifName,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        vip = #{vip,jdbcType=VARCHAR},
      </if>
      <if test="workArea != null">
        work_area = #{workArea,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.dms.database.device.model.ChannelHaVrids">
    update channel_ha_vrids
    set channel_ha_id = #{channelHaId,jdbcType=BIGINT},
      channel_info_id = #{channelInfoId,jdbcType=BIGINT},
      vrid = #{vrid,jdbcType=INTEGER},
      if_id = #{ifId,jdbcType=BIGINT},
      if_name = #{ifName,jdbcType=VARCHAR},
      vip = #{vip,jdbcType=VARCHAR},
      work_area = #{workArea,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteByChannelHaId" parameterType="java.lang.Long">
    delete from channel_ha_vrids
    where channel_ha_id = #{channelHaId,jdbcType=BIGINT}
  </delete>
  <select id="selectByChannelHaId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from channel_ha_vrids
    where channel_ha_id = #{channelHaId,jdbcType=BIGINT}
  </select>
  <select id="selectByEnabled" resultType="java.lang.Long">
    select if_id 
    from channel_ha_vrids
    where channel_ha_id IN (
      select channel_ha_id from channel_ha_device 
      where enable = 1 AND work_state = 3
    )
  </select>
</mapper>