<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.dms.database.device.mapper.BusinessGroupMapper">
  <resultMap id="BaseResultMap" type="com.zx.dms.database.device.model.BusinessGroup">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="network_area_id" jdbcType="BIGINT" property="networkAreaId" />
    <result column="network_area_name" jdbcType="VARCHAR" property="networkAreaName" />
    <result column="data_type" jdbcType="TINYINT" property="dataType" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, network_area_id, network_area_name, data_type, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from business_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from business_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zx.dms.database.device.model.BusinessGroup">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into business_group (name, network_area_id, network_area_name, 
      data_type, gmt_create, gmt_modified
      )
    values (#{name,jdbcType=VARCHAR}, #{networkAreaId,jdbcType=BIGINT}, #{networkAreaName,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zx.dms.database.device.model.BusinessGroup">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into business_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="networkAreaId != null">
        network_area_id,
      </if>
      <if test="networkAreaName != null">
        network_area_name,
      </if>
      <if test="dataType != null">
        data_type,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="networkAreaId != null">
        #{networkAreaId,jdbcType=BIGINT},
      </if>
      <if test="networkAreaName != null">
        #{networkAreaName,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zx.dms.database.device.model.BusinessGroup">
    update business_group
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="networkAreaId != null">
        network_area_id = #{networkAreaId,jdbcType=BIGINT},
      </if>
      <if test="networkAreaName != null">
        network_area_name = #{networkAreaName,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        data_type = #{dataType,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zx.dms.database.device.model.BusinessGroup">
    update business_group
    set name = #{name,jdbcType=VARCHAR},
      network_area_id = #{networkAreaId,jdbcType=BIGINT},
      network_area_name = #{networkAreaName,jdbcType=VARCHAR},
      data_type = #{dataType,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getLength" resultType="java.lang.Long">
  	select count(0) from business_group
  	<trim prefix="where">
  		<if test="search != null and '' neq search">
  			name like CONCAT('%', #{search,jdbcType=VARCHAR}, '%')
  		</if>
  	</trim>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from business_group
  	<trim prefix="where">
  		<if test="search != null and '' neq search">
  			name like CONCAT('%', #{search,jdbcType=VARCHAR}, '%')
  		</if>
  	</trim>
  	order by gmt_create desc, id desc
  </select>
  <select id="selectByName" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from business_group where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectByChannelInfoId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from business_group where id in (select group_id from trans_busi_data where channel_info_id = #{channelInfoId,jdbcType=BIGINT})
  </select>
</mapper>